[program:rocketchat]
directory=<%= "#{@install_path}/rocketchat" %>
environment = 
  ROOT_URL=https://<%= @fqdn %>/,
  MONGO_URL=mongodb://localhost:27017/rocketchat,
  MONGO_OPLOG_URL=mongodb://localhost:27017/local,
  PORT=3000
command=/usr/local/bin/node main.js
autostart=true
autorestart=true
redirect_stderr=true
user=rocketchat
